.card {
  max-width: 600px;
  width: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
