<div>
  <h1>Catalogue</h1>
  <app-search-bar [property]="'name'" [list]="products" (filterResult)="updateList($event)"
    (filterReset)="getCatalogueObject()">
  </app-search-bar>

  <div *ngIf="products" class="flex">
    <div *ngFor="let product of products">
      <mat-card class="custom-card">
        <a [routerLink]="['/detail', product.id]">
          <mat-card-title>{{product.name}}</mat-card-title>
        </a>
        <mat-card-content>
          <p>{{ product.description }}</p>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-footer style="padding-left:1rem">
          {{product.price | currency:'EUR'}}
          <button mat-icon-button color="primary">
            <mat-icon (click)="addToShoppingList(product)">add_shopping_cart</mat-icon>
          </button>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>
